@font-face {
  font-family: "icomoon";
  src: url("./icomoon.eot?h2jc0s");
  src: url("./icomoon.eot?h2jc0s#iefix")
      format("embedded-opentype"),
    url("./icomoon.ttf?h2jc0s") format("truetype"),
    url("./icomoon.woff?h2jc0s") format("woff"),
    url("./icomoon.svg?h2jc0s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sh-po .path1:before {
  content: "\e910";
  color: rgb(239, 242, 247);
}
.icon-sh-po .path2:before {
  content: "\e911";
  margin-left: -0.857421875em;
  color: rgb(0, 0, 0);
}
.icon-sh-po .path3:before {
  content: "\e912";
  margin-left: -0.857421875em;
  color: rgb(0, 0, 0);
}
.icon-sh-po .path4:before {
  content: "\e913";
  margin-left: -0.857421875em;
  color: rgb(0, 0, 0);
}
.icon-sh-po .path5:before {
  content: "\e914";
  margin-left: -0.857421875em;
  color: rgb(0, 0, 0);
}
.icon-sh-label:before {
  content: "\e910";
  color: #fff;
}
.icon-sh-pack-in-box:before {
  content: "\e900";
}
.icon-sh-logo .path1:before {
  content: "\e901";
  color: rgb(254, 254, 254);
}
.icon-sh-logo .path2:before {
  content: "\e902";
  margin-left: -0.8681640625em;
  color: rgb(223, 33, 33);
}
.icon-sh-logo .path3:before {
  content: "\e903";
  margin-left: -0.8681640625em;
  color: rgb(249, 31, 31);
}
.icon-sh-logo .path4:before {
  content: "\e904";
  margin-left: -0.8681640625em;
  color: rgb(249, 80, 80);
}
.icon-sh-logo .path5:before {
  content: "\e905";
  margin-left: -0.8681640625em;
  color: rgb(254, 254, 254);
}
.icon-sh-truck .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-sh-truck .path2:before {
  content: "\e907";
  margin-left: -1.533203125em;
  color: rgb(255, 255, 255);
}
.icon-sh-truck .path3:before {
  content: "\e908";
  margin-left: -1.533203125em;
  color: rgb(255, 255, 255);
}
.icon-sh-truck .path4:before {
  content: "\e909";
  margin-left: -1.533203125em;
  color: rgb(255, 255, 255);
}
.icon-sh-truck .path5:before {
  content: "\e90a";
  margin-left: -1.533203125em;
  color: rgb(255, 255, 255);
}
.icon-sh-truck .path6:before {
  content: "\e90b";
  margin-left: -1.533203125em;
  color: rgb(255, 255, 255);
}
.icon-sh-truck .path7:before {
  content: "\e90c";
  margin-left: -1.533203125em;
  color: rgb(211, 220, 230);
}
.icon-sh-truck .path8:before {
  content: "\e90d";
  margin-left: -1.533203125em;
  color: rgb(211, 220, 230);
}
.icon-sh-truck .path9:before {
  content: "\e90e";
  margin-left: -1.533203125em;
  color: rgb(211, 220, 230);
}
.icon-sh-truck .path10:before {
  content: "\e90f";
  margin-left: -1.533203125em;
  color: rgb(211, 220, 230);
}
