div {
  h5 {
    color: #566382;
    text-align: left;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0px 0px 13px;
    text-decoration: none solid rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
  }

  p {
    margin: 0;
    color: #637097;
    text-align: left;
    font-size: 1em;
    line-height: 1.86;
    font-weight: 300;
    text-decoration: none solid rgb(122, 185, 255);
    outline: rgb(122, 185, 255) none 0px;
  }
}