ul {
  padding-right: 15px;
  padding-left: 15px;

  :global(div) {
    width: 32%;
    float: left;

    li {
      display: inline-block;
      list-style: none;

      a {
        font-size: 0.9em;
        line-height: 2.5;
        color: #7ab9ff;
        text-transform: capitalize;
        cursor: pointer;
        transition: all 0.35s ease;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  ul {
    padding-right: 0;
    padding-left: 0;
  }
}
