.intro {
  width: 100%;
  min-height: 100vh;
  background: #0d42b2;
  background: url(/overlay.png) 0 0 no-repeat, url(/azure.png) 50% 100% no-repeat;
  background-size: contain, cover;

  .particles-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .container {
    max-width: 1140px;
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .banner-content {
      margin-top: 80px;
      padding-top: 60px;
      max-height: 675px;
      display: flex;

      .content-left {
        width: 50%;
        align-items: center;
        display: flex;

        h1 {
          color: #fff;
          line-height: 1.33;
          font-weight: 600;
          margin: 0 0 18px;
          font-size: 2.93em;
        }

        p {
          font-size: 1.27em;
          line-height: 1.68;
          font-weight: 300;
          color: #ffffff;
          margin-bottom: 20px;
        }
      }

      .content-right {
        width: 50%;
        padding: 0 15px;

        > div {
          overflow: hidden;
        }

        img {
          background-repeat: round;
          height: 675px;
          border: 0;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .intro {
    .container {
      max-width: 100%;
      padding-right: 0;

      .banner-content {
        .content-left {
          margin-left: calc((100% - 960px) / 2);
        }

        .content-right {
          padding: 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .intro {
    .container {
      max-width: 100%;
      padding-right: 0;

      .banner-content {
        .content-left {
          margin-left: calc((100% - 1140px) / 2);
        }

        .content-right {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .intro {
    .container {
      max-width: 720px;

      .banner-content {
        padding-top: 0;
        flex-direction: column-reverse;

        .content-left {
          width: 100%;
          margin: 45px 0 30px 0;

          br {
            display: none;
          }
        }

        .content-right {
          width: 100%;

          > div {
            min-width: 690px;
          }

          img {
            width: 100%;
            height: initial;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .intro {
    align-items: center !important;
    display: flex;

    .container {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 100%;

      .banner-content {
        .content-left {
          > div {
            align-items: center;
            display: flex;
            flex-direction: column;
          }

          h1 {
            text-align: center;
            font-size: 2.1em;
          }

          p {
            text-align: center;
          }
        }

        .content-right {
          > div {
            min-width: 440px;
            max-width: 440px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .intro {
    .container {
      .banner-content {
        .content-left {
          h1 {
            font-size: 1.5em;
          }

          p {
            font-size: 0.75em;
          }
        }

        .content-right {
          > div {
            min-width: 280px;
            max-width: 280px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .intro {
    .container {
      .banner-content {
        .content-left {
          h1 {
            font-size: 1.5em;
          }

          p {
            font-size: 0.75em;
          }
        }

        .content-right {
          > div {
            min-width: 280px;
            max-width: 280px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .intro {
    .container {
      .banner-content {
        .content-right {
          img {
            max-width: calc(100% - 40px);
          }
        }
      }
    }
  }
}
