button {
  &.button,
  &.primary {
    border: 0 none #fff;
    border-radius: 4px 4px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 10px 30px 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
    background: linear-gradient(
      to right,
      rgb(22, 163, 254) 0%,
      rgb(65, 250, 164) 100%
    );
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 500 normal 13px / 38px Poppins, sans-serif;
    padding: 0 23px;
    outline-color: rgb(255, 255, 255);
    &:hover {
      background: linear-gradient(
        to left,
        rgb(22, 163, 254) 0%,
        rgb(65, 250, 164) 100%
      );
    }
    &:focus {
      outline: none;
    }
  }
  &.secondary {
    background: transparent;
    border: 0 none #fff;
    border-radius: 4px 4px 4px 4px;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0 10px 30px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font: normal normal 500 normal 13px / 38px Poppins, sans-serif;
    height: 38px;
    left: 0;
    outline: #fff none 0;
    padding: 0 23px;
    position: relative;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transition: all 0.5s;
    white-space: nowrap;
    z-index: 2;
    &:hover:after {
      opacity: 0;
    }
    &:focus {
      outline: none;
    }
    &:before {
      background: linear-gradient(
        to right,
        rgb(65, 250, 164) 0%,
        rgb(22, 163, 254) 100%
      );
      border-radius: 4px 4px 4px 4px;
      bottom: 0px;
      content: '';
      height: 38px;
      left: 0px;
      right: 0px;
      transition: all 0.5s ease 0s;
      top: 0px;
      opacity: 1;
      position: absolute;
      z-index: -2;
    }
    &:hover:before {
      opacity: 1;
    }
    &:after {
      position: absolute;
      border-radius: 4px;
      left: 2px;
      top: 2px;
      content: '';
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      z-index: -1;
      opacity: 1;
      background: #0b3691;
      transition: all 0.5s ease;
    }
  }
  &.menu {
    min-width: 40px;
    padding: 0;
    & span {
      font-family: FontAwesome;
      display: inline-block;
      width: 1.5em;
      vertical-align: middle;
      content: '';
      background: no-repeat center center;
      background-size: 100% 100%;
      line-height: 30px;
      font-size: 1.5em;
    }
  }
}
