section {
  h3 {
    font-size: 1.87em;
    line-height: 1.86;
    font-weight: bold;
    color: #fff;
    padding-bottom: 40px;
    text-align: center;
  }

  .graph {
    width: 555px;
    height: 420px;
  }
}

@media (max-width: 1200px) {
  section {
    .graph {
      width: 465px;
      height: 320px;
    }
  }
}

@media (max-width: 991px) {
  section {
    margin: 50px 0;
  }
}

@media (max-width: 480px) {
  section {
    h3 {
      font-size: 1.4em;
    }

    .graph {
      max-width: 100%;
      height: 200px;
    }
  }
}
