section {
  h3 {
    font-size: 1.87em;
    line-height: 1.86;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  .graph {
    width: 465px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;

    .logo {
      width: 65px;
      height: 65px;
      position: absolute;
      top: 140px;
      display: flex;
      justify-content: center;
      align-self: center;
    }

    .labels-container {
      top: 335px;
      position: absolute;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      display: block;
      text-align: center;

      .label {
        display: inline-block;

        &-color {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          margin-bottom: 7px;
          border-radius: 50%;
          border-style: solid;
          border-width: 5px;
        }

        span {
          display: flex;
          margin-right: 20px;

          p {
            color: #fff;

            &:first-of-type {
              min-width: 35px;
              padding-right: 5px;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  section {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  section {
    h3 {
      font-size: 1.4em;
    }

    .graph {
      width: 320px;
      min-width: 320px;
      max-width: 100%;

      .labels-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: block;
        text-align: center;
  
        .label {
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  section {
    .graph {
      .labels-container {
        top: 315px;
        margin: 0 10px;
      }
    }
  }
}
