.karbon {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom right,
    #290075 0%,
    #086ddf 100%
  );
}

@media only screen and (min-width: 991px)  and (max-width: 1200px) {
  .karbon {
    :global(.links__area li.menu-option-airdrop) {
      display: none !important;
    }
  }
}
